@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100vh;
  /* background-color: lightgray; */
  font-family: 'Roboto', sans-serif;
}
